<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="eng">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="The European Bioinformatics Institute" />
<meta http-equiv="Content-Language" content="en-GB" />
<title></title>
<meta name="robots" content="index,follow" />
<meta name="keywords" content="" />
<script src="../../public/src/contents.js" type="text/javascript"></script>
<link rel="stylesheet"  href="../../public/css/sidebars.css"   type="text/css" />
<link rel="SHORTCUT ICON" href="http://www.ebi.ac.uk/bookmark.ico" />
<!-- TemplateBeginEditable name="head" -->
<!--  start meta tags, css , javascript here   -->

<script type="text/javascript">
function click(id) {	
  var el = document.getElementById(id);
  if(el.childNodes[2].style){
    if(el.childNodes[2].style.display=="block"){
	el.childNodes[2].style.display="none";
	el.className="clickme";
    } else {
	el.childNodes[2].style.display="block";
	el.childNodes[2].style.margin="0";
	el.className="clickmeopen";
    }
  }
}
</script>

  
<!--  end meta tags, css , javascript here  -->
<!-- TemplateEndEditable -->
</head>
<body onload="if(navigator.userAgent.indexOf('MSIE') != -1) {document.getElementById('head').allowTransparency = true;}">

<img src="http://www.ebi.ac.uk/inc/images/spacer.gif" class="spacer" alt="spacer"></td><td class="leftmenucell" id="leftmenucell">
<div class="leftmenu" id="leftmenu"> 
<ul id="sidemenuid" class="sidemenu">
  <li class="clickme" style="cursor: pointer;" id="about"><a href="javascript:click('about')">about</a>
    <ul>
    <li class="clickme" style="cursor: pointer;" id="about:news"><a href="javascript:click('about:news')">news</a>
      <ul>
      <li style="cursor: default;"><a href="/Tools/webservices/about/news/2008" class="wikilink1" title="about:news:2008">2008</a></li>
      <li style="cursor: default;"><a href="/Tools/webservices/about/news/2009" class="wikilink1" title="about:news:2009">2009</a></li>
      <li style="cursor: default;"><a href="/Tools/webservices/about/news/2010" class="wikilink1" title="about:news:2010">2010</a></li>
      </ul>
    </li>
    <li style="cursor: default;"><a href="/Tools/webservices/about/references" class="wikilink1" title="about:references">references</a></li>
    <li style="cursor: default;"><a href="/Tools/webservices/about/webservices" class="wikilink1" title="about:webservices">webservices</a></li>
    </ul>
  </li>
  <li class="clickme" style="cursor: pointer;" id="clients"><a href="javascript:click('clients')">clients</a>
    <ul>
      <li style="cursor: default;"><a href="/Tools/webservices/clients/censor" class="wikilink1" title="clients:censor">censor</a></li>
      <li style="cursor: default;"><a href="/Tools/webservices/clients/citexplore" class="wikilink1" title="clients:citexplore">citexplore</a></li>
      <li style="cursor: default;"><a href="/Tools/webservices/clients/dalilite" class="wikilink1" title="clients:dalilite">dalilite</a></li>
      <li style="cursor: default;"><a href="/Tools/webservices/clients/dbfetch" class="wikilink1" title="clients:dbfetch">dbfetch</a></li>
    </ul>
  </li>
</ul>
</div>
<script type="text/javascript" src="../../public/src/sidebars.js"></script>
</body>
</html>